In [1]:
#Importing Liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("C:/Users/19060/OneDrive/Desktop/DATA SCIENCE/MACHINE LEARNING/DATA SET/pima-data.csv")

In [3]:
df.head(10)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True
5,5,116,74,0,0,25.6,0.201,30,0.0000,False
6,3,78,50,32,88,31.0,0.248,26,1.2608,True
7,10,115,0,0,0,35.3,0.134,29,0.0000,False
8,2,197,70,45,543,30.5,0.158,53,1.7730,True
9,8,125,96,0,0,0.0,0.232,54,0.0000,True

In [4]:
df.shape

(768, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num_preg      768 non-null    int64
 1   glucose_conc  768 non-null    int64
 2   diastolic_bp  768 non-null    int64
 3   thickness     768 non-null    int64
 4   insulin       768 non-null    int64
 5   bmi           768 non-null    float64
 6   diab_pred     768 non-null    float64
 7   age           768 non-null    int64
 8   skin          768 non-null    float64
 9   diabetes      768 non-null    bool
dtypes: bool(1), float64(3), int64(6)
memory usage: 54.9 KB

In [6]:
df.describe()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.809136
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.628517
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.906200
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.260800
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,3.900600

In [7]:
df.isnull().sum() # No null values

num_preg        0
glucose_conc    0
diastolic_bp    0
thickness       0
insulin         0
bmi             0
diab_pred       0
age             0
skin            0
diabetes        0
dtype: int64

In [8]:
#Lets find corelation
df.corr() # Correlation explains how one or more variables are related to each other

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
num_preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,-0.081672,0.221898
glucose_conc,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.057328,0.466581
diastolic_bp,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.207371,0.065068
thickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,1.000000,0.074752
insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.436783,0.130548
bmi,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.392573,0.292695
diab_pred,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.183928,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,-0.113970,0.238356
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,1.000000,0.074752
diabetes,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,0.074752,1.000000

In [9]:
df.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

 Lets change diabetes from boolean to number

In [10]:
dib_maps={True:1,False:0}
df["diabetes"]=df["diabetes"].map(dib_maps)

In [11]:
df.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,1
1,1,85,66,29,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,0,23.3,0.672,32,0.0000,1
3,1,89,66,23,94,28.1,0.167,21,0.9062,0
4,0,137,40,35,168,43.1,2.288,33,1.3790,1

In [12]:
# Now lets check the number of person(suffering from DB/Not suffering from DB)
dib_true_count=len(df.loc[df["diabetes"]==True])
dib_false_count=len(df.loc[df["diabetes"]==False]) 
#The loc() function helps us to retrieve data values from a dataset at 
#an ease. Using the loc() function, we can access the data values fitted in the particular row or column based on 
#the index value passed to the function.
(dib_true_count,dib_false_count) 

#   dib_true_count=len(df[df["diabetes"]==True].values)    without LOC
#   dib_false_count=len(df[df["diabetes"]==False].values)
#   (dib_true_count,dib_false_count)

(268, 500)

Lets split the data in train - test

In [13]:
#Declaring X and y
X=df.drop(['diabetes'],axis=1)
y=df['diabetes']

In [14]:
# This is our independent variables
X.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin
0,6,148,72,35,0,33.6,0.627,50,1.3790
1,1,85,66,29,0,26.6,0.351,31,1.1426
2,8,183,64,0,0,23.3,0.672,32,0.0000
3,1,89,66,23,94,28.1,0.167,21,0.9062
4,0,137,40,35,168,43.1,2.288,33,1.3790

In [15]:
# dependent variables
y.head(5)

0    1
1    0
2    1
3    0
4    1
Name: diabetes, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.30,random_state=10)

Lets check for Missing Values(0) in the data sets

In [17]:
print("total number of records : {0}".format(len(df)))
print("---------------------------------------------------------")
print("Number of missing values in each column : ")
print("---------------------------------------------------------")
print("glucose_conc:",len(df.loc[df["glucose_conc"]==0]))
print("diastolic_bp:",len(df.loc[df["diastolic_bp"]==0]))
print("thickness:",len(df.loc[df["thickness"]==0]))
print("insulin:",len(df.loc[df["insulin"]==0]))
print("bmi:",len(df.loc[df["bmi"]==0]))
print("diab_pred:",len(df.loc[df["diab_pred"]==0]))
print("age:",len(df.loc[df["age"]==0]))
print("skin:",len(df.loc[df["skin"]==0]))

total number of records : 768
---------------------------------------------------------
Number of missing values in each column :
---------------------------------------------------------
glucose_conc: 5
diastolic_bp: 35
thickness: 227
insulin: 374
bmi: 11
diab_pred: 0
age: 0
skin: 227

In [18]:
# Lets replace them with mean value
from sklearn.impute import SimpleImputer
Fill_Values=SimpleImputer(missing_values=0,strategy="mean")
X_train=Fill_Values.fit_transform(X_train)
X_test=Fill_Values.fit_transform(X_test)

The sklearn.ensemble module includes two averaging algorithms based on randomized decision trees: 
the RandomForest algorithm and the Extra-Trees method. 
Both algorithms are perturb-and-combine techniques [B1998] specifically designed for trees

In [20]:
from sklearn.ensemble import RandomForestClassifier
random_forest_model=RandomForestClassifier(random_state=10)
random_forest_model.fit(X_train,y_train.ravel())

RandomForestClassifier(random_state=10)

Lets predict and evaluate our model

In [21]:
y_pred=random_forest_model.predict(X_test)
from sklearn.metrics import accuracy_score,confusion_matrix
cm=confusion_matrix(y_test,y_pred)
score=accuracy_score(y_test,y_pred)
print(score)
print(cm)

0.7532467532467533
[[128  16]
 [ 41  46]]